.user-initial {
  line-height: 1.7;
  font-size: 13px;
  font-weight: 500;
  background-color: #dfe3e6;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  margin-left: 2px;
  text-align: center;
  border: 1px solid #bfcbd4;
}
