.comment {
    background-color: white;
    border-radius: 5px;
    padding: 5px 15px;
    border: gray solid 1px;
    margin: 5px auto;
}

.comment-footer {
    text-align: end;
    font-size: 12px;
    color: darkslategray;
}